body, html {
  display: block;
	padding: 0;
/*font-family: 'Lato', sans-serif;*/
	font-family: 'Inconsolata', monospace;
  /*font-family: 'Noto Sans', sans-serif;*/
  background-color: #FFEBEE;
}

#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

#text {
  margin-top: 5%;
  position: absolute;
  font-size: 60px;
  font-weight: bold;

}

#description {
  margin-top: 13%;
  position: absolute;
  max-width: 875px;
}

#aboutMe {
  font-size: 24px;
  color: #333333;
}

#img-container {
  position: absolute;
  margin-top: 27%;
  width: 100%;
  height: 500px;
  /*margin-left: 2%;*/
}

#contact {
  padding-top: 8%;
  font-size: 60px;
  font-weight: bold;
}

#social-media {
  padding-top: 4%;
  width: 400px;
  height: 100px;
}

#social-media img {
  height: 100%;
  padding-right: 6%;
}

#social-media img:hover {
	animation: icon-bounce 0.45s cubic-bezier(0.42, 0, 0.7, 0.5) 0s 2 alternate;
}

@keyframes icon-bounce {
	0% {
    transform: translateY(0px);
		}
	100% {
    transform: translateY(-40px);
	}
}

.col {
  padding-bottom:25px;
  display: inline-block;
  padding-right: 2%;
}

 .after {
  position: absolute;
  width: 200px;
  height: 200px;
  display: none;
  background: rgba(0, 0, 0, .8);
  pointer-events: none;
  color: white;
  text-align: center;
  font-size: 15;
  font-weight: medium;
  font-family: 'Noto Sans', sans-serif;
}

.project-img {
  z-index: 5;
  padding-bottom: 35px;
  width: 200px;
  height: 200px;
}

.project-img img{
  /*z-index: 5;
  padding-bottom: 35px;*/
  /*height: 40%;*/
  /*width: 206px;
  height: 208px;*/
  height: 100%

  /*height: 40%;*/
}

/*.project-img .after {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}*/

/*.project-img:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}*/
